<nav class="main-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2 text-center">
                    <div id="logo"><a href="/">Landing</a></div>
                </div>
                <div class="col-md-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        {{#if isLoggedIn}}
                            <li><a href="/postajob">Post a job</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {{else}}
                            <li><a href="/login">Login</a></li>
                            <li><a href="/sign-up">Sign Up</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>