<nav class="main-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between">
                <div id="logo"><a href="/">Landing</a></div>    
                <form action="/search" method="GET">
                    <input class="search-input" name="query" value="{{query}}" type="text" placeholder="What you are looking for?">
                </form>
                <div>
                    {{#if isLoggedIn}}
                        <a href="/postajob" class="btn btn-outline-danger mr-2">Post a job</a> 
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hi, {{name}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="/dashboard" class="dropdown-item">Dashboard</a>
                                <a href="/settings" class="dropdown-item">Settings</a>
                                <a href="/logout" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                    {{else}}
                        <a href="/login" class="btn btn-primary mr-2">Login</a>
                        <a href="/sign-up" class="btn btn-primary">Sign up</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</nav>