<div class="search-bar">
    <div class="container">
        <div class="row">
            <div style="display: flex" class="col-md-12">
                <div class="search-inner-container">
                    <input class="search-input" type="text" placeholder="What you are looking for?">
                    <button class="search-btn btn-cta">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
