{{> header}}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12 offset-md-1 mt-3">
      <h2 class="mb-3">Post a job</h2>
      <form action="/postajob" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input required type="text" name="title" value="" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="tags">Tags / Keywords (Optional)</label>
          <select id="tags" class="form-control" name="tags[]" multiple="multiple">
            <option>orange</option>
            <option>white</option>
            <option>purple</option>
          </select>
        </div>
        <div class="form-group">
          <label for="company-name">Company Name</label>
          <input required type="text" class="form-control" name="company-name" id="company-name" placeholder="Enter company name" >
        </div>
        <div class="form-group">
          <label for="location">Location (Optional)</label>
          <input type="text" class="form-control" name="location" id="location" placeholder="Enter location" >
        </div>
        <div class="form-group">
          <label for="closing-date">Closing Date (Optional)</label>
          <input type="date" class="form-control" name="closing-date" id="closing-date" placeholder="mm/dd/yyyy" >
        </div>
        <div class="form-group">
          <label for="job-type">Job Type</label>
          <select class="form-control" name="job-type" id="job-type">
            <option>Full time</option>
            <option>Part time</option>
            <option>Remote / Full time</option>
            <option>Remote / Part time</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" name="description" class="form-control" id="description"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary border-0 full-width mt-2" onclick="postJob(event)">Submit</button>
      </form>
    </div>
  </div>
</div>
<script>
  
  'use strict';

  var myForm = {
    title: '', tags: [], description: ''
  };

  function postJob(e) {
    if (validateForm()) {
      e.preventDefault();
      console.log("My Form", myForm);
      postData('http://localhost:3001/api/job', myForm)
      .then(data => console.log(data)) // JSON-string from `response.json()` call
      .catch(error => console.error(error));
    };
  };

  function validateForm() {
    myForm.title = $('#title').val();
    myForm.tags = $('#tags').val();
    myForm.description = $('#description').val();

    if (!myForm.title.trim() || !myForm.description.trim()) { // if either is empty return false
      
      if (myForm.title != myForm.title.trim() && !myForm.title.trim()) // if blank spaces exist only
        $('#title').val('');

      if (myForm.description != myForm.description.trim() && !myForm.description.trim()) // if blank spaces exist only
        $('#description').val('');
      
      return false;
    
    } else {
      return true;
    };
  };

  $(function() {
    
    $("select#tags").select2({
      tags: true,
      placeholder: 'Select or create new'
      //insertTag: function (data, tag) {
        // Insert the tag at the end of the results
        //data.push(tag);
      //}
    });
    $("select#job-type").select2();
    $("#description").froalaEditor();
    
  });

</script>