{{> header}}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12 offset-md-3 offset-sm-2 mt-3">
      <h2 class="mb-3">Post a job</h2>
      <form action="/postajob" method="POST">
        <div class="form-group">
          <label for="title">Title*</label>
          <input required type="text" name="title" value="" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <select id="tags" class="form-control" name="tags[]" multiple="multiple">
            <option>orange</option>
            <option>white</option>
            <option>purple</option>
          </select>
        </div>
        <div class="form-group">
          <label for="about">Company details*</label>
          <textarea required name="about" id="about" class="form-control" placeholder="Tell us about the company"></textarea>
        </div>
        <div class="form-group">
          <label for="requirements">Requirements</label>
          <input type="text" id="requirements" name="requirements[]" class="form-control" placeholder="Add Requirements">
          <button type="button" onclick="addRequirement()">Add</button>
          <ul id="requirements-container">

          </ul>
        </div>
        <div class="form-group">
          <label for="responsibilities">Responsibilities</label>
          <input type="text" id="responsibilities" name="responsibilities[]" class="form-control" placeholder="Add Responsibilities">
          <button type="button" onclick="addResponsibilities()">Add</button>
          <ul id="responsibilities-container">

          </ul>
        </div>
        <div class="form-group">
          <label for="offers">Our offer</label>
          <input type="text" id="offers" name="offers[]" class="form-control" placeholder="Add your offers">
          <button type="button" onclick="addOffer()">Add</button>
          <ul id="offers-container">

          </ul>
        </div>
        <div class="form-group">
          <label for="more-about">More about company</label>
          <textarea name="more-about" id="more-about" class="form-control" placeholder="Tell us more about the company and the role"></textarea>
        </div>
        <div class="form-group">
          <label for="note">Note</label>
          <textarea name="note" id="note" class="form-control" placeholder="Any special note?"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary border-0" onclick="postJob(event)">Submit</button>
      </form>
    </div>
  </div>
</div>
<script>
  
  'use strict';

  var myForm = {
    title: '', tags: [], about: '', requirements: [], responsibilities: [], offers: [], more: '', note: ''
  };

  function postJob(e) {
    if (validateForm()) {
      e.preventDefault();
      console.log("My Form", myForm);
      postData('http://localhost:3001/api/job', myForm)
      .then(data => console.log(data)) // JSON-string from `response.json()` call
      .catch(error => console.error(error));
    };
  };

  function validateForm() {
    myForm.title = $('#title').val();
    myForm.tags = $('#tags').val();
    myForm.about = $('#about').val();
    myForm.more = $('#more-about').val();
    myForm.note = $('#note').val();

    if (!myForm.title.trim() || !myForm.about.trim()) { // if either is empty return false
      
      if (myForm.title != myForm.title.trim() && !myForm.title.trim()) // if blank spaces exist only
        $('#title').val('');

      if (myForm.about != myForm.about.trim() && !myForm.about.trim()) // if blank spaces exist only
        $('#about').val('');
      
      return false;
    
    } else {
      return true;
    };
  };

  $(function() {
    
    $("select").select2({
      tags: true,
      placeholder: 'Select or create new'
      //insertTag: function (data, tag) {
        // Insert the tag at the end of the results
        //data.push(tag);
      //}
    });
    
  });

  function addRequirement() {
    var value = $('#requirements').val().trim();
    if (!value) return;
    myForm.requirements.push(value);
    var html = '<li>' + value 
      + '<span id="req-' + myForm.requirements.length 
      + '" onclick="removeById(this.id)">Remove</span></li>';
    $('#requirements').val('');
    $('#requirements-container').append(html);
  };

  function addResponsibilities() {
    var value = $('#responsibilities').val().trim();
    if (!value) return;
    myForm.responsibilities.push(value);
    var html = '<li>' + value 
      + '<span id="res-' + myForm.responsibilities.length 
      + '" onclick="removeById(this.id)">Remove</span></li>';
    $('#responsibilities').val('');
    $('#responsibilities-container').append(html);
  };

  function addOffer() {
    var value = $('#offers').val().trim();
    if (!value) return;
    myForm.offers.push(value);
    var html = '<li>' + value 
      + '<span id="off-' + myForm.offers.length 
      + '" onclick="removeOffer(this.id)">Remove</span></li>';
    $('#offers').val('');
    $('#offers-container').append(html);
  };
  
  function removeById(id) {
    var myId = '#' + id;
    $(myId).parent().remove();
  };

</script>