{{> header}}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12 offset-md-1 mt-3">
      <h2 class="mb-3">Post a job</h2>
      <form id="postjob">
        <div class="form-group">
          <label for="title">Title</label>
          <input required type="text" name="title" value="" class="form-control" id="title" placeholder="Enter title">
          <small class="d-none custom-error red">Title is required</small>
        </div>
        <div class="form-group">
          <label for="description">Job Description</label>
          <textarea type="text" name="description" class="form-control" id="description"></textarea>
          <small class="d-none custom-error red">Job description is required</small>
        </div>
        <div class="form-group">
          <label for="company-name">Company Name</label>
          <input required type="text" class="form-control" value="{{name}}" name="companyName" id="companyName" placeholder="Enter company name" >
          <small class="d-none custom-error red">Company name is required</small>
        </div>
        <div class="form-group">
          <label for="tags">Tags / Keywords (Optional)</label>
          <select id="tags" class="form-control" name="tags" multiple="multiple">
            <option>orange</option>
            <option>white</option>
            <option>purple</option>
          </select>
        </div>
        <div class="form-group">
          <label for="location">Location (Optional)</label>
          <input type="text" class="form-control" name="location" id="location" placeholder="Enter location" >
        </div>
        <div class="form-group">
          <label for="closing-date">Closing Date (Optional)</label>
          <input type="date" class="form-control" name="closingDate" id="closingDate" placeholder="mm/dd/yyyy" >
        </div>
        <div class="form-group">
          <label for="job-type">Job Type</label>
          <select class="form-control" name="jobType" id="jobType">
            <option>Full time</option>
            <option>Part time</option>
            <option>Remote / Full time</option>
            <option>Remote / Part time</option>
          </select>
        </div>
        
        
        <button type="submit" id="load" class="btn btn-primary border-0 full-width mt-2 mb-5" 
        onclick="postJob(event)"><i class="fa fa-spinner-third"></i>Submit</button>
      
      </form>
    </div>
  </div>
</div>
<script>
  
  'use strict';

  var myForm = {
    title: '', tags: [], description: '', companyName: '', location: '', closingDate: '', jobType: ''
  };

$('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 8000);
});

  function postJob(e) {
    
    e.preventDefault();
    e.stopPropagation();

    if (validateForm()) {
      postData('http://localhost:3001/api/job', myForm)
      .then(data => console.log(data)) // JSON-string from `response.json()` call
      .catch(error => console.error(error));
    
    };
  };

  function validateForm() {
    
    var noError = true;
    var customForm = $('#postjob').serializeArray();
    $('.custom-error').addClass('d-none');
    $.each(customForm, function(index, value) {
      myForm[value.name] = value.value;
      if (!value.value.trim() && index < 3) {
        document.getElementsByClassName('custom-error')[index].className = 'custom-error red';
        noError = false;
      };
    });
    if (!noError) window.scrollTo(0,0);
    return noError;

  };

  $(function() {
    
    $("select#tags").select2({
      tags: true,
      placeholder: 'Select or create new'
      //insertTag: function (data, tag) {
        // Insert the tag at the end of the results
        //data.push(tag);
      //}
    });
    $("select#job-type").select2();
    $("#description").froalaEditor();
    
  });

</script>