{{> header}}
<div class="alert alert-danger d-none" role="alert">
  
</div>
<h1>Sign up</h1>
<form action="/sign-up" method="POST" onsubmit="signup(event)">
  <div class="form-group">
    <label for="name">Name / Company name</label>
    <input required type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input required type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input required minlength="4" type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="image">Upload Photo / Company logo</label>
    <input type="file" name="image" class="form-control" id="image" placeholder="Upload image">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>

  'use strict';

  var myForm = new FormData(), name, email, password, image;

  function signup(e) {
     
    if (validateForm()) {
      
      e.preventDefault();  
      setForm();  
      
      postFormData('http://localhost:3001/api/register', myForm)
      .then(data => loginRegisterCallback(data, 'reg')) // JSON-string from `response.json()` call
      .catch(error => console.error(error));
    
    };

  };

  function setForm() {
    myForm.append('name', name);
    myForm.append('email', email);
    myForm.append('password', password);
    myForm.append('image', image.files[0]);
  };

  function validateForm() {
    
    name = $('#name').val(), email = $('#email').val(), password = $('#password').val(),
     image = document.getElementById('image');

    if (!name.trim() || !email.trim() || password.length < 4) { // if either is empty return false
      
      if (email != email.trim() && !email.trim()) // if blank spaces exist only
        $('#email').val('');

      if (name != name.trim() && !name.trim()) // if blank spaces exist only
        $('#name').val('');
      
      return false;
    
    } else {
      return true;
    };
  };

</script>